body {
  /*background: #353535; */
  line-height: 1.2rem;
}

footer {visibility: hidden;}

div[data-testid="stCaptionContainer"] {
    text-align: right !important;
}

div[data-testid="stForm"] {
  background-color: rgb(252, 252, 252);
}


/* Form */
.css-1h109da{
    border: none;
    padding: 0px;
    margin:0px;
    margin-bottom:3px;
}

.StatusWidget-enter-done{
    visibility: hidden;
}

.StatusWidget-enter-active{
    visibility: hidden;
}

.StatusWidget-exit-active{
    visibility: hidden;
}

.title:before{
content: 'TEST';
}

.title:after{
    content: 'TEST';
    }

.title{
    content: 'TEST';
    }
.StatusWidget-enter{
    visibility: hidden;
}

.StatusWidget-exit{
    visibility: hidden;
}

.StatusWidget-exit-done{
    visibility: hidden;
}


.stStatusWidget{
    visibility: hidden;
}
.stStatusWidget>div{
    visibility: hidden;
}
.stStatusWidget>div>img{
    visibility: hidden;
}
.stStatusWidget>div>label{
    visibility: hidden;
}
.stStatusWidget>div>span{
    visibility: hidden;
}

.stToolbar{
    visibility: None;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
.loader {
  font-size: 10px;
  position: relative;
  /* text-indent: -9999em; */
  border-top: 0.3em solid rgba(255, 255, 255, 0.2);
  border-right: 0.3em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.3em solid rgba(255, 255, 255, 0.2);
  border-left: 0.3em solid #a2aab0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* MENU && FOOTER */
#MainMenu {visibility: hidden;}


.StatusWidget-enter-done>div>span{
    visibility:hidden;
}
#bui-2>div>ul>li:nth-child(4), /* Deploy App again? */
#bui-2>div>ul>li:nth-child(8), /* Ask a question */
#bui-2>div>ul>li:nth-child(9), /* Report a bug */
#bui-2>div>ul>li:nth-child(11), /* StreamLit for teams */
#bui-2>div>ul>li:nth-child(13) /* About */{ 
    visibility: hidden;
}
